* 
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body 
{
    font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
}

#root 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page h1 
{
    margin: 0;
    line-height: 1.5;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #000;
}

.page h1 strong 
{
    font-weight: 700;
}

.page h2
{
    margin: 0;
    line-height: 1.5;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    color: #000;
}

.page h2 strong 
{
    font-weight: 700;
}

.page h3
{
    margin: 0;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #000;
}

.page h3 strong 
{
    font-weight: 600;
}

.page p 
{
    margin: 0;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

.links span,
.links a 
{
    display: inline-block;
    vertical-align: middle;
}

.links span 
{
    color: #999;
}

.links span::after 
{
    content: "·";
}

.links a 
{
    margin: 0 9px;
    color: #777;
    text-decoration: none;
    border-bottom: 1px dashed #ccc;
}

.links a:hover 
{
    color: #333;
    border-bottom-color: transparent;
}

.page .copyinfo 
{
    margin-bottom: 3em;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    text-align: center;
}

input, textarea
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.page .form-wrapper 
{
    display: flex;
    width: calc(100% - 6rem);
    max-width: 30rem;
    padding: 3rem;
    flex-direction: column;
}

form 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-item-wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    width: 100%;
}

input[type=text]
{
    border: 2px solid #999999;
    border-radius: 5px;
    width: calc(92% - 2.0rem);
    padding: 0.5rem;
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
input[type=text]:hover
{
    box-shadow: 0 0 15px -3px rgba(184, 184, 184, 0.5) inset;
}
input[type=text]:focus
{
    border: 2px solid #5285a7;
}
input[type=text]:disabled
{
    font-style: bold;
    font-weight: 600;
}
input[type=text]:disabled:hover
{
    cursor: not-allowed;
}

button, .button
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b9acf;
    width: 6.5rem;
    height: 2.8rem;
    color: #fff;
    font-weight: 600;
    border-radius: 50px;
    transition: background-color 0.15s ease-in-out, box-shadow 0.2s ease-in;
}
button.shadow, .button.shadow
{
    transition: background-color 0.15s ease-in-out, box-shadow 0.2s ease-in;
    box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.25);
}

button:hover, .button:hover
{
    background-color: #82c2ec;
    cursor: pointer;
}
button.shadow:hover, .button.shadow:hover
{
    box-shadow: 0 5px 15px -1px rgba(0, 0, 0, 0.35);
}
button:active, .button:active
{
    box-shadow: 0 5px 15px -1px rgba(0, 0, 0, 0.35);
    background-color: #30709b;
}

/* LOADING SPINNER */

.load-spinner-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.load-spinner 
{
    --size: 7rem;

    width: var(--size);
    height: var(--size);

    border-radius: 50%;
    perspective: 800px;
}
  
.inner 
{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
}
  
.inner.one 
{
    left: 0;
    top: 0;
    animation: rotate-one 0.75s linear infinite;
    border-bottom: 1.25rem solid #89e4ff;
}
  
.inner.two 
{
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 1.25rem solid #57b7d4;
}
  
.inner.three 
{
    right: 0;
    bottom: 0;
    animation: rotate-three 1.25s linear infinite;
    border-top: 1.25rem solid #1d85a5;
}
  
@keyframes rotate-one 
{
    0%
    {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% 
    {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-two 
{
    0% 
    {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% 
    {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-three 
{
    0% 
    {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% 
    {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
  
/* END LOADING SPINNER */
